global:
  resolve_timeout: 5m

route:
  receiver: "null"              # default drop (safety)
  group_by: ["alertname", "instance"]
  group_wait: 15s               # wait to group bursts
  group_interval: 2m            # regroup window
  repeat_interval: 6h           # prevent spam repeats
  routes:
    - matchers:
        - severity="page"
      receiver: "webhook-page"
      repeat_interval: 1h       # pages can repeat, but not constantly

    - matchers:
        - severity="ticket"
      receiver: "webhook-ticket"
      repeat_interval: 12h

    - matchers:
        - severity="info"
      receiver: "null"

inhibit_rules:
  - source_matchers:
      - severity="page"
    target_matchers:
      - severity=~"ticket|info"
    equal: ["alertname", "instance"]

receivers:
  - name: "null"

  - name: "webhook-page"
    webhook_configs:
      - url: "http://host.docker.internal:9099/page"
        send_resolved: true

  - name: "webhook-ticket"
    webhook_configs:
      - url: "http://host.docker.internal:9099/ticket"
        send_resolved: true
