global:
  resolve_timeout: 5m

route:
  receiver: "default-receiver"
  group_by: ["alertname", "instance", "job"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

  routes:
    - matchers:
        - 'severity="page"'
      receiver: "page-receiver"

    - matchers:
        - 'severity="ticket"'
      receiver: "ticket-receiver"

inhibit_rules:
  - source_matchers:
      - 'alertname="SLOBurnRateFast"'
    target_matchers:
      - 'alertname=~"NodeExporterDown|DiskWillFillSoon"'
    equal: ["instance", "job"]

receivers:
  - name: "default-receiver"

  - name: "page-receiver"
    webhook_configs:
      - url: "http://host.docker.internal:8080"
        send_resolved: true

  - name: "ticket-receiver"
    webhook_configs:
      - url: "http://webhook:8080/ticket"
        send_resolved: true

