global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: "node"
    static_configs:
      - targets:
          - "10.168.56.10:9100"   # prod-ubuntu
          - "10.168.56.20:9100"   # infra-rocky
